@import "@fontsource/sansita";

.App {
  text-align: center;
  font-family: "Sansita";
  background-color: #ffffff;
}

.base-container {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.base-container-secondary {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.h1 {
  color: white;
  text-shadow: -1px -1px 0 #9D7D9B, 1px -1px 0 #9D7D9B, -1px 1px 0 #9D7D9B,
    1px 1px 0 #9D7D9B;
  font-size: 0.7rem;
}

.carousel {
    height: "30vh",
}

#marker{
  height: 20px;
  width: 20px;
}

.map-container{
  height: 40vh;
  width: 100vw;
  max-width: 1000px;
}

.center{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card{
  max-width: 24rem;
  max-width: 400px;
  max-height: 540px;
  width: 100vw;
  aspect-ratio: 16/9;
}