@import "@fontsource/sansita";

.App {
  text-align: center;
  font-family: "Sansita";
  background-color: #ffffff;
}

.base-container {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.base-container-secondary {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.h1 {
  color: white;
  text-shadow: -1px -1px 0 #9D7D9B, 1px -1px 0 #9D7D9B, -1px 1px 0 #9D7D9B,
    1px 1px 0 #9D7D9B;
  font-size: 0.7rem;
}

.container{
  position: relative;
  flex-direction: column;
  width: 90vw;
  height: 30vh;
}

.center{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.map{
  position: absolute;
}

.test{
  background-color: #9D7D9B;
}